<%= link_to "Add New Post", new_post_path %>
<%= link_to "About", about_path %>
<%= link_to "Sign Up", signup_path %>
<%= link_to "Login", login_path %>
<%= link_to "Logout", logout_path %>
<hr>

<h1>Blog Posts</h1>
<hr>

<% @posts.each do |p| %>
	<h3><%= p.title %></h3>
	<br>
	<p><%= p.content %></p>
	<hr>
<% end %>